.Projects {
    scroll-snap-align: start;
    background-color: #232222;
    min-height: 135vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    .heading h1 {
        text-align: center;
        margin: 0 auto;
        padding-top: 40px;
        font: 300 60px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    .row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;
    }

    .row-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 50px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .Projects {
        flex-direction: column;

        .row-1 {
            flex-direction: column;
            margin-top: 0px;
        }

        .row-2 {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 400px) {

    .Projects {
        padding: 0px 10px 0px 10px;
    }
}