* {
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  height: 70px;
  z-index: 2;
  animation: moveRight ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes moveRight {
  0% {
    transform: translateX(-150px);
  }

  100% {
    transform: translateX(0);
  }
}

.menu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.menu:hover {
  pointer-events: all;
}

.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  user-select: none;
}

.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}

.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

span a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.805);
  font-size: 16px;
  user-select: none;
}

span {
  transition: color 0.5s ease;
}

.item:hover span a {
  color: white;
}

.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}

.menu:hover .item {
  opacity: 1;
  top: 0px;
}

.item:nth-child(1) {
  transition-delay: 0.45s;
}

.item:nth-child(2) {
  transition-delay: 0.4s;
}

.item:nth-child(3) {
  transition-delay: 0.35s;
}

.item:nth-child(4) {
  transition-delay: 0.3s;
}

.item:nth-child(5) {
  transition-delay: 0.25s;
}

.item:nth-child(6) {
  transition-delay: 0.2s;
}

.item:nth-child(7) {
  transition-delay: 0.15s;
}

.item:nth-child(8) {
  transition-delay: 0.1s;
}

.item:nth-child(9) {
  transition-delay: 0.05s;
}

.item:nth-child(10) {
  transition-delay: 0s;
}

.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}

.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}

.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}

.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}

.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}

.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}

.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}

.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}

.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}

@media screen and (max-width: 351px) {
  .navbar {
    padding-top: 20px;
  }
}