* {
  padding: 0;
  margin: 0;
}

.nav .navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 20%;
  height: 70px;
  z-index: 100;
  animation: moveRight ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.nav .nav-menu {
  display: none;
}

a.link {
    font-family: sans-serif;
    letter-spacing: 3px;
}

.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  user-select: none;
  font-family: sans-serif;
  letter-spacing: 3px;
}

.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 1;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

span a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.805);
  font-size: 16px;
  user-select: none;
}

span {
  transition: color 0.5s ease;
}

.item:hover span a {
  color: white;
}

@media screen and (max-width: 619px) {
  .nav .navbar {
    display: none;
  }

  .nav .nav-menu {
    display: block;
  }

  .nav .nav-menu #menuToggle {
    display: flex;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -o-tap-highlight-color: transparent;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

#menuToggle {
  pointer-events: none;
  flex-direction: column;
  -webkit-user-select: none;
  user-select: none;
  position: fixed;
  top: 15px;
  left: 15px;
  display: none;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
  animation: moveRight ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.nav-menu {
  height: 45px;
  width: 60px;
  z-index: 100;
  position: fixed;
  top: 0;
}

#menuToggle input {
  display: flex;
  pointer-events: all;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: flex;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}
#menuToggle span {
    width: 29px;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: white;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  pointer-events: all;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 100%;
  height: 100%;
  opacity: 0.90;
  margin: -50px 0 0 -50px;
  padding: 50px;
  background-color: rgb(37, 37, 37);
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding-left: 20px;
  padding-bottom: 10px;
  transition-delay: 2s;
}

#menu li a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: 'Roboto Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

#menuToggle input:checked~ul {
  transform: none;
}

