.About {
    scroll-snap-align: start;
    background-color: #232222;
    height: 100vh;
    max-width: 100%;

    .section-header {
        text-align: center;
        margin: 0 auto;
        padding: 40px 0;
        font: 300 60px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 6px;
    }
}