:root {
    --color: white;
}

.Contact {
    scroll-snap-align: start;
    background-color: #232222;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .notification .title,
    .message {
        font-family: sans-serif;
    }

    .section-header {
        text-align: center;
        margin: 0 auto;
        padding: 40px 0;
        font: 300 60px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    .contact-form {
        display: flex;
        justify-content: center;
        width: 650px;
        max-width: 100%;

        form {
            width: 100%;
            max-width: 100%;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .row-1 {
            display: flex;
            gap: 10px;
            flex-direction: row;

            input {
                width: 100%;
                max-width: 100%;
                height: 50px;
            }
        }

        input {
            font-family: sans-serif;
            font-size: 17px;
            margin-top: 20px;
            background-color: #2d2c2c;
            border: none;
            text-indent: 10px;
            color: rgb(201, 195, 195);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            max-width: 100%;
            height: 50px;
        }

        textarea {
            font-family: sans-serif;
            margin-top: 20px;
            background-color: #2d2c2c;
            border: none;
            font-size: 17px;
            text-indent: 10px;
            padding-top: 10px;
            color: rgb(201, 195, 195);
            height: 200px;
            width: 100%;
            max-width: 100%;
            resize: none;
        }

        textarea:focus,
        input:focus {
            outline: none;
            border-bottom: 2px solid #58d8e4;
        }
    }

    .form-button {
        width: 100%;
        display: flex;
        justify-content: end;

        button.slide:hover,
        button.slide:focus {
            box-shadow: inset 10.5em 0 0 0 #{adjust-hue(white, 45deg)};
        }

        button {
            cursor: pointer;
            color: white;
            transition: 0.5s;
            height: 50px;
            width: 130px;
            margin-top: 20px;
            font-size: 15px;
            background: none;
            font-family: sans-serif;
            border: 2px solid white;

            &:hover,
            &:focus {
                border-color: var(--color);
                color: black;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .Contact {
        .contact-form {
            .row-1 {
                flex-direction: column;
                gap: 0px;
            }
        }
    }
}