.Projects {
    scroll-snap-align: start;
    background-color: #232222;
    min-height: 215vh;
    margin: 0;
    top: 70px;

    .heading h1 {
        padding-top: 50px;
        color: white;
        text-align: center;
    }
}

.entries:before {
    top: 30px;
    content: "";
    position: absolute;
    left: 50.4%;
    transform: translateX(-50%);
    width: 4px;
    height: 1125px;
    background-color: #fff;
}

body .entries {
    width: calc(100% - 80px);
    max-width: 90%;
    margin: auto;
    position: relative;
    left: -5px;
    top: 50px;
}

body .entries .entry {
    width: calc(50% - 80px);
    float: left;
    padding: 20px;
    height: 300px;
    clear: both;
    text-align: right;
}

body .entries .entry:not(:first-child) {
    margin-top: -60px;
}

body .entries .entry .title {
    font-size: 32px;
    font-family: sans-serif;
    margin-bottom: 12px;
    position: relative;
    color: #fff;
}

body .entries .entry .title:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid #ffffff;
    background-color: #1D1D1D;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: -73px;
}

body .entries .entry .body {
    color: #aaa;
}

body .entries .entry .body p {
    line-height: 1.4em;
    font-size: 20px;
    font-family: sans-serif;
}

body .entries .entry .body a {
    text-decoration: none;
    color: lightblue;
    line-height: 1.4em;
    font-size: 20px;
    font-family: sans-serif;
}


body .entries .entry .body a:hover {
    text-decoration: underline;
}

body .entries .entry .body a p img {
    width: 17px;
    height: 17px;
}

body .entries .entry:nth-child(2n) {
    text-align: left;
    float: right;
}

body .entries .entry:nth-child(2n) .title:before {
    left: -63px;
}