.intro {
    width: 100%;
    height: calc(100vh - 70px);
    background: #707070;

    
    $t: 1s;
    $d: 0.08em;
    $n: 8;
    $e: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
    $front: black;
    $back: lightblue;


    .popout{
        font-weight: 900;
        font-size: 100px;
        padding-top: 155px;
        padding-left: 80px;

        @keyframes ani{
            0%{
                transform: translate3d(0,0,0);
                text-shadow: 0em 0em 0 $back;
                color: $front;
            }
            30%{
                transform: translate3d(0,0,0);
                text-shadow: 0em 0em 0 $back;
                color: $front;
            }
            70%{
                transform: translate3d($d,-$d,0);
                text-shadow: -$d $d $back;
                color: $front;
            }
            100%{
                transform: translate3d($d,-$d,0);
                text-shadow: -$d $d $back;
                color: $front;
            }
        }
        span{
            margin-right: 20px;
            position: relative;
            display: inline-block;
            animation: ani $t infinite alternate $e;
            @for $i from 1 through $n{
                &:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
            }
        }
    }
      
    .popout-1{
        font-family: Futura, sans-serif;
        font-weight: 900;
        padding-top: 30px;
        font-size: 50px;
        padding-left: 80px;

        @keyframes ani{
            0%{
                transform: translate3d(0,0,0);
                text-shadow: 0em 0em 0 $back;
                color: $front;
            }
            30%{
                transform: translate3d(0,0,0);
                text-shadow: 0em 0em 0 $back;
                color: $front;
            }
            70%{
                transform: translate3d($d,-$d,0);
                text-shadow: -$d $d $back;
                color: $front;
            }
            100%{
                transform: translate3d($d,-$d,0);
                text-shadow: -$d $d $back;
                color: $front;
            }
        }
        span{
            margin-right: 20px;
            position: relative;
            display: inline-block;
            animation: ani $t infinite alternate $e;
            @for $i from 1 through $n{
                &:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
            }
        }
    }
    .wrapper {
        padding-left: 80px;
        padding-top: 40px;
    }
    h3 {
        font-size: 50px;
    }
}