.app {
    height: 100vh;
    scroll-behavior: smooth;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: white;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none; //for firefox
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            scroll-snap-align: start;
        }
    }
}