* {
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
      display: none;
  }
  .app {
    animation: breath 1s ease-in-out;
    background-image: url('assets/background.svg');
    background-color: rgb(35, 34, 34);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}